
<h1>EF Core 3 Test</h1>

<div>
    <form method="post" asp-action="AddData">
        
        <div class="form-group">
            <button class="btn btn-primary">Add data</button>
        </div>

    </form>
</div>
